<table id="game-listing">
    <tr>
        <th>Group</th>
        <th>Click Role to Begin</th>
        {% if user.is_authenticated %}
        <th>Reports</th>
        {% endif %}
    </tr>
{% for game in games %}
    <tr class="game {% cycle 'odd' 'even' %}">
        <td class="group-name">{{ game.group_name }}</td>
        <td>
            {% for role in roles %}
                <a href="{% url game game.game_slug role.0 %}">{{ role.1 }}</a>
                {% if not forloop.last %} | {% endif %}
            {% endfor %}
        {% if user.is_authenticated %}
        <td>[Chart] | [Spreadsheet]</td>
        {% endif %}
    </tr>
{% endfor %}
</table>

