{% extends "base.html" %}

{% block header %}
    <div id="top-nav">
        <a href="">Sign In</a>
    </div>

    <img src="{{ STATIC_URL }}img/beergame-logo.gif" />
{% endblock %}

{% block content %}
    <div id="add-game">
        <ul id="add-game-form"> 
            {{ form.as_ul }}
            <li><input type="submit" id="add-game-btn" value="Add Game" /></li>
            <li>
                <span id="loading" class="hidden"><img src="{{ STATIC_URL }}/img/loading.gif" /></span>
            </li>
        </ul>
    </div>
    <div id="game-listing-wrapper">
        {% include "game_listing.html" %}
    </div>
{% endblock %}
