body {
    font-family: sans-serif;
}

body a {
    color: #000000;
}

div#header {
    text-align: center;
}

div#top-nav {
    font-size: 9pt;
    text-align: right;
}

div#logo {
    float: left;
}

div#status, div#cost {
    float: left; 
    margin: 0 0 0 100px;
    padding: 10px 20px 20px 20px;
    text-align: left;
}

p#role-label, p#period-label, p#total-cost-label {
    font-size: 9pt;
    margin: 12px 0 0 0;
}

p#role, p#period, p#total-cost {
    font-size: 1.3em;
    font-weight: bold;
    margin: 4px 0 0 0;
}

div#wrapper {
    left: 50%;
    margin-left: -30%;
    position: absolute; 
    width: 60%;  
}

ul#add-game-form {
    padding: 0;
    text-align: center;
}

ul#add-game-form li {
    display: inline; 
}

input#id_num_periods {
    width: 2em; 
}

/* Lists the available games on the frontpage */
table#game-listing {
    border-spacing: 0;
    width: 100%; 
}

table#game-listing th {
    background-color: #4d4e4c;
    color: #ffffff;
    padding: 4px;
}

.hidden { 
    display: none;
}

.clear {
    clear: both;
}

table#game-listing td {
    padding: 6px 4px 6px 4px;
    text-align: center;
}

table#game-listing tr.even {
    background-color: #ededed;
}

table#game-listing td.group-name {
    font-weight: bold;
}

div.step-wrapper {
    border: 1px solid;
}

div.step-button {
    float: left; 
}

div.lead-tile {
    background: #eeeeee;
    border: 1px solid;
    float: left;
    height: 80px;
    width: 130px;
}

div.lead-tile h4 {
    text-align: center;
}

div.instructions {
    float: right;
    font-size: 10pt;
    width: 300px;
}
